*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #f7f9ff;
}
.about{
    width: 100%;
    background-color: #f7f9ff;
    display:inline-block;
    justify-content: center;
    align-items: center;
    margin-left: -255px;
    height: 91vh;
}
/* .about .content img{
    height: auto;
    width: 100%;

} */
.text{
    width: 90%;
    
}
.content{
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: 285px;
    margin-top: 85px;
}
.about .content .text h1{
    color: #ffcc74;
    font-size: 35px;
    margin-top: 30px;
    text-transform: capitalize;
    letter-spacing: 2px;

}
.text h5{
    color:black;
    font-size: 25px;
    margin-bottom: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.text p{
    color:black;
    font-size: 18px;
    margin-bottom: 48px;
    line-height: 28px;
    letter-spacing: 1px;

}
button{
    background-color: #ffcc74;
    color: black;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 17px;
}
button:hover{
    transform: scale(1.2);
    background-color: transparent;
    color: #ffcc74;
    border: 2px solid #ffcc74;
    cursor: pointer;
}

@media screen and (max-width:1180px){
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}
@media screen and (max-width:650px){
    .about .content img{
        margin-bottom: 35px;
    }
    .text h1{
        font-size: 60px ;
        margin-bottom: 25px;
    }
}